# 容器镜像
DOCKER_IMAGE_NATS=bk-lite.tencentcloudcr.com/bklite/library/nats:2.12.12
DOCKER_IMAGE_NATS_EXECUTOR=bk-lite.tencentcloudcr.com/bklite/bklite/nats-executor:latest
DOCKER_IMAGE_STARGAZER=bk-lite.tencentcloudcr.com/bklite/bklite/stargazer:latest
DOCKER_IMAGE_TRAEFIK=bk-lite.tencentcloudcr.com/bklite/library/traefik:3.6.24
DOCKER_IMAGE_FUSION_COLLECTOR=bk-lite.tencentcloudcr.com/bklite/bklite/fusion-collector:latest
DOCKER_IMAGE_REDIS=bk-lite.tencentcloudcr.com/bklite/library/redis:7.4.10
DOCKER_IMAGE_NATS_BOX=bk-lite.tencentcloudcr.com/bklite/natsio/nats-box:latest
DOCKER_IMAGE_APM_COLLECTOR=bk-lite.tencentcloudcr.com/bklite/bklite/apm-otel-collector:0.153.0-bklite.1
DOCKER_IMAGE_APM_QUEUE_INIT=bk-lite.tencentcloudcr.com/bklite/library/busybox:1.37.0

# 环境变量
ZONE_ID=${ZONE_ID}
ZONE_NAME=${ZONE_NAME}
SIDECAR_NODE_ID=${SIDECAR_NODE_ID}
SIDECAR_NODE_NAME=${SIDECAR_NODE_NAME}
SIDECAR_INIT_TOKEN=${SIDECAR_INIT_TOKEN}
SERVER_URL=${SERVER_URL}
NATS_ADMIN_USERNAME=${NATS_ADMIN_USERNAME}
NATS_ADMIN_PASSWORD=${NATS_ADMIN_PASSWORD}
APM_NATS_USERNAME=${APM_NATS_USERNAME}
APM_NATS_PASSWORD=${APM_NATS_PASSWORD}
REDIS_PASSWORD=${REDIS_PASSWORD}
TRAEFIK_WEB_PORT=${TRAEFIK_WEB_PORT}
