[[inputs.prometheus]]
    startup_error_behavior = "retry"
    urls = [
        "{{ server_url }}",
    ]
    interval = "{{ interval }}s"
    timeout = "{{ interval }}s"
    response_timeout = "{{ interval }}s"
    {% if tls_ca %}
    tls_ca = "{{ tls_ca }}"
    {% endif %}
    {% if tls_cert %}
    tls_cert = "{{ tls_cert }}"
    {% endif %}
    {% if tls_key %}
    tls_key = "{{ tls_key }}"
    {% endif %}
    insecure_skip_verify = {{ insecure_skip_verify | default(false, true) | lower }}
    [inputs.prometheus.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "bkpull"
        config_type = "etcd"
