[[inputs.haproxy]]
    startup_error_behavior = "retry"
    servers = ["{{ url }}"]
    {% if username %}
    username = "{{ username }}"
    {% endif %}
    {% if ENV_PASSWORD %}
    password = "${PASSWORD__{{ config_id }}}"
    {% endif %}
    keep_field_names = true
    interval = "{{ interval }}s"
    [inputs.haproxy.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "middleware"
        config_type = "haproxy"
