.git
.github/
.gitignore
.vscode/
__pycache__/
*.py[oc]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
.env
.env.*
*.log
build/
dist/
wheels/
*.egg-info/
tests/
mlruns/
support-files/scripts/data/
support-files/systemctl/
