[Unit]
Description=Fusion Collector BK Sidecar
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/fusion-collectors/environment
ExecStart=/opt/fusion-collectors/collector-sidecar -c /opt/fusion-collectors/sidecar.yml
User=root
Group=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
