[[inputs.prometheus]]
    startup_error_behavior = "retry"
    urls = ["${STARGAZER_URL}/api/monitor/host/metrics"]
    interval = "{{ interval | default(60, true) }}s"
    timeout = "{{ timeout | default(60, true) }}s"
    response_timeout = "{{ response_timeout | default(60, true) }}s"

    [inputs.prometheus.http_headers]
        host = "{{ host }}"
        os_type = "{{ os_type | default('linux', true) }}"
        username = "{{ username }}"
        password = "${PASSWORD__{{ config_id }}}"
        private_key_content = "${PRIVATE_KEY_CONTENT__{{ config_id }}}"
        private_key_passphrase = "${PRIVATE_KEY_PASSPHRASE__{{ config_id }}}"
        credential_encoding = "{{ credential_encoding | default('url', true) }}"
        auth_type = "{{ auth_type | default('password', true) }}"
        port = "{{ port | default('', true) }}"
        metrics_modules = "{{ metrics_modules | default('cpu,mem,disk,diskio,net,processes,system', true) }}"
        disk_include_fstypes = "{{ disk_include_fstypes | default('', true) }}"
        disk_exclude_fstypes = "{{ disk_exclude_fstypes | default('tmpfs,devtmpfs,devfs,iso9660,overlay,aufs,squashfs,vfat,exfat,fat,fat32') }}"
        winrm_scheme = "{{ winrm_scheme | default('https', true) }}"
        winrm_transport = "{{ winrm_transport | default('ntlm', true) }}"
        winrm_cert_validation = "{{ winrm_cert_validation | default('false', true) }}"
        ansible_node_id = "{{ node_id }}"
        instance_id = "{{ instance_id }}"
        instance_type = "os"
        collect_type = "http"
        config_type = "host"
