.alert {
    display: flex;
    overflow: hidden;
    width: 100%;

    .filters {
        width: 100%;
        background-color: var(--color-bg-1);
        padding: 20px;
        height: calc(100vh - 144px);
        overflow-y: auto;
    }

    .alarmList {
        flex: 1;
        min-width: 0;
        margin-left: 10px;

        .searchCondition {
            padding: 10px 20px;
            background-color: var(--color-bg-1);
            margin-bottom: 10px;

            .condition {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .chartWrapper {
            background-color: var(--color-bg-1);
            margin-bottom: 10px;
            width: 100%;
            overflow: hidden;

            .chart {
                height: 100px;
                padding: 0 10px;
            }
        }

        .table {
            width: 100%;
            background-color: var(--color-bg-1);
            height: 100%;
            padding: 10px 20px 20px 20px;
        }

    }
}

.alert .alarmList .chartWrapper .chart :global(.ant-empty-normal) {
    margin: 0;
    transform: translateY(20px);
}

.information {
    .level {
        border-left: 4px solid #F43B2C;
        padding-left: 8px;
    }
}

.information :global(.ant-descriptions-item-label) {
    background: var(--color-fill-1) !important;
    padding: 10px !important;
    width: 150px !important;
}

.information :global(.ant-collapse-content-box) {
    padding: 0 !important;
}

.information :global(.ant-descriptions-item-content) {
    width: 300px !important;
    padding: 10px !important;
}

.information :global(.ant-btn-link) {
    padding: 0;
    margin: 0;
}