[[inputs.prometheus]]
    startup_error_behavior = "retry"
    urls = ["${STARGAZER_URL}/api/monitor/windows/wmi/metrics"]
    interval = "{{ interval | default(60, true) }}s"
    timeout = "{{ timeout | default(60, true) }}s"
    response_timeout = "{{ response_timeout | default(60, true) }}s"

    [inputs.prometheus.http_headers]
        host = "{{ host }}"
        username = "{{ username }}"
        password = "${PASSWORD__{{ config_id }}}"
        namespace = "{{ namespace | default('root\\cimv2', true) }}"
        metrics_modules = "{{ metrics_modules | default('cpu,mem,disk,diskio,net,processes,system', true) }}"
        disk_include_fstypes = "{{ disk_include_fstypes | default('', true) }}"
        disk_exclude_fstypes = "{{ disk_exclude_fstypes | default('tmpfs,devtmpfs,devfs,iso9660,overlay,aufs,squashfs,vfat,exfat,fat,fat32') }}"
        timeout = "{{ timeout | default(60, true) }}"
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type | default('os', true) }}"
        collect_type = "http"
        config_type = "windows_wmi"
