[[inputs.net]]
    startup_error_behavior = "retry"
    interval = "{{ interval }}s"
    [inputs.net.tags]
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "middleware"
        config_type = "net"
